<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<main class="wp-site-blocks">
	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section class="wp-block-group">
		<!-- wp:heading {"textAlign":"center"} -->
		<h2 class="wp-block-heading has-text-align-center">Top Products</h2>
		<!-- /wp:heading -->

		<!-- wp:darlingteatime/top-products-carousel {"numberOfProducts":5} /-->
	</section>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"twentytwentyfive/hidden-query"} /-->
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
