<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<main class="wp-site-blocks">
	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section class="wp-block-group">
		<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} -->
		<h2 class="wp-block-heading has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--50)">Top Products</h2>
		<!-- /wp:heading -->

		<!-- wp:group {"className":"scalloped-section-wrapper","layout":{"type":"constrained"}} -->
		<div class="wp-block-group scalloped-section-wrapper">
			<!-- wp:darlingteatime/top-products-carousel {"numberOfProducts":5} /-->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section class="wp-block-group">
		<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} -->
		<h2 class="wp-block-heading has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--50)">Latest from the Blog</h2>
		<!-- /wp:heading -->

		<!-- wp:group {"className":"scalloped-section-wrapper","layout":{"type":"constrained"}} -->
		<div class="wp-block-group scalloped-section-wrapper">
			<!-- wp:latest-posts {"postsToShow":1,"displayFeaturedImage":true,"displayPostDate":true,"displayPostExcerpt":true,"addLinkToFeaturedImage":true} /-->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","layout":{"type":"constrained"}} -->
	<section class="wp-block-group">
		<!-- wp:heading {"textAlign":"center","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} -->
		<h2 class="wp-block-heading has-text-align-center" style="margin-bottom:var(--wp--preset--spacing--50)">Custom Project</h2>
		<!-- /wp:heading -->

		<!-- wp:group {"className":"scalloped-section-wrapper","layout":{"type":"constrained"}} -->
		<div class="wp-block-group scalloped-section-wrapper">
			<!-- wp:darlingteatime/custom-project-carousel /-->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"twentytwentyfive/hidden-query"} /-->
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
